initializer-page/node/
initializer-page/node_modules/
initializer-page/analysis/
initializer-page/target/
initializer-start/target/
initializer-generator/target/

node_modules/
.mvn/

tree

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.DS_Store

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr