spring.http.converters.preferred-json-mapper=gson

## Format to use when serializing Date objects.
#spring.gson.date-format=
#
## Whether to disable the escaping of HTML characters such as '<', '>', etc.
#spring.gson.disable-html-escaping=
#
## Whether to exclude inner classes during serialization.
#spring.gson.disable-inner-class-serialization=
#
## Whether to enable serialization of complex map keys (i.e. non-primitives).
#spring.gson.enable-complex-map-key-serialization= # Whether to enable serialization of complex map keys (i.e. non-primitives).
#
## Whether to exclude all fields from consideration for serialization or deserialization that do not have the "Expose" annotation.
#spring.gson.exclude-fields-without-expose-annotation=
#
## Naming policy that should apply to an object's field during serialization and deserialization.
#spring.gson.field-naming-policy=
#
## Whether to generate non executable JSON by prefixing the output with some special text.
#spring.gson.generate-non-executable-json=
#
## Whether to be lenient about parsing JSON that doesn't conform to RFC 4627.
#spring.gson.lenient=
#
## Serialization policy for Long and long types.
#spring.gson.long-serialization-policy=
#
## Whether to output serialized JSON that fits in a page for pretty printing.
#spring.gson.pretty-printing=
#
## Whether to serialize null fields.
#spring.gson.serialize-nulls=
