## FreeMarker
### FreeMarker简介
本工程是一个简单的FreeMarker的例子，用于向同学们展示如何快速上手FreeMarker + Spring。学习本工程需要同学们对Spring 和 FreeMarker有一定的了解，不过本工程会尽量清晰明了，降低同学们的学习门槛。

### FreeMarker工程解读

工程结果如图所示：

```
.
├── README.md
├── pom.xml
└── src
    └── main
        ├── java
        │   └── com
        │       └── example
        │           └── freemarkerdemo
        │               ├── SpringBootHelloWorldApplication.java    //SpringBoot入口
        │               └── controllers
        │                   └── TestController.java //Controller文件
        ├── resources
        │   └── application.properties  //常用属性配置
        └── webapp
            └── welcome.ftl     //模板文件

9 directories, 7 files
```


