## Gson
### Gson简介
本工程是一个简单的Gson的例子。Gson是谷歌支持的序列化工具。

### Gson工程解读

```

.
├── README.md
├── pom.xml
└── src
    └── main
        ├── java
        │    └── com
        │         └── javadevjournal
        │                 ├── GsonSpringBootApplication.java
        │                 ├── ProductController.java//Controller
        │                 └── data
        │                      └── Product.java//数据
        └── resources
            └── application.properties

7 directories, 9 files
```
