<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="{{basePackage}}.mybatis.mapper.MybatisDemoUserMapper">
    <select id="findAll" resultType="{{basePackage}}.mybatis.entity.MybatisDemoUser">
        SELECT * FROM tb_user
    </select>
</mapper>